<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button style="color: white;" (click)="backPage()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
		</ion-buttons>
    <ion-title *ngIf="menu=='SO'">Sales Order</ion-title>
    <ion-title *ngIf="menu=='SR'">Sales Return</ion-title>
  </ion-toolbar>
  <div align="center" *ngIf="menu=='SO'">
    <!-- <ion-icon name ="person-circle" style="color:white;"></ion-icon> -->
    <p *ngIf="docflow_seq==1" style="color: green;font-weight: bold;">Documented</p>
    <p *ngIf="docflow_seq==2" style="color: orange;font-weight: bold;">Approved</p>
    <p *ngIf="docflow_seq==3" style="color: black;font-weight: bold;">Ask Approval (Piutang)</p>
    <p *ngIf="docflow_seq==4" style="color: brown;font-weight: bold;">Cancel</p>
    <p *ngIf="docflow_seq==5" style="color: red;font-weight: bold;">Invoiced</p>
    <p *ngIf="docflow_seq==6" style="color: red;font-weight: bold;">Finish</p>
    <p *ngIf="docflow_seq==7" style="color: black;font-weight: bold;">Ask Approval (Price)</p>
    <p *ngIf="docflow_seq==8" style="color: black;font-weight: bold;">Ask Approval (Pre Order)</p>
    <p *ngIf="docflow_seq==9" style="color: black;font-weight: bold;">Pre Order</p>
    <p *ngIf="docflow_seq==10" style="color: black;font-weight: bold;">Paid</p>
    <p *ngIf="docflow_seq==12" style="color: black;font-weight: bold;">Pre Order (Proyek)</p>
    <p *ngIf="docflow_seq==20" style="color: black;font-weight: bold;">Paid (Bon)</p>
  </div>
  <div align="center" *ngIf="menu=='SR'">
    <!-- <ion-icon name ="person-circle" style="color:white;"></ion-icon> -->
    <p *ngIf="docflow_seq==1" style="color: green;font-weight: bold;">Documented</p>
    <p *ngIf="docflow_seq==2" style="color: orange;font-weight: bold;">Take Items</p>
    <p *ngIf="docflow_seq==3" style="color: black;font-weight: bold;">Approved by Dir.</p>
    <p *ngIf="docflow_seq==5" style="color: red;font-weight: bold;">Approved</p>
    <p *ngIf="docflow_seq==10" style="color: black;font-weight: bold;">Posted</p>

  </div>

  <ion-segment [(ngModel)]="tab" lines="none">
		<ion-segment-button value="form">
			<ion-label>
				General
			</ion-label>
		</ion-segment-button>
		<ion-segment-button value="grid">
			<ion-label>
				Item List
			</ion-label>
		</ion-segment-button>
	</ion-segment>
</ion-header>

<ion-content>
  <div *ngFor="let i of dataForm;let indexElement=index;" [ngSwitch]="tab">
    <ion-list  *ngSwitchCase="'form'">
      <div *ngIf="menu=='SO'">
        <ion-item>
          <ion-label position="floating">Doc No</ion-label>
          <ion-input type="text" readonly value="{{i.doc_no}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Extern No</ion-label>
          <ion-input type="text" [disabled]="!isEnabled" [(ngModel)]="i.doc_extern" value="{{i.doc_extern}}"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="6">
            <ion-item class="size-lines">
              <ion-label position="floating" >Date</ion-label>
              <ion-datetime displayFormat = "YYYY-MM-DD" placeholder="Select Date" [disabled]="!isEnabled" [(ngModel)]="i.doc_date">{{i.doc_date}}</ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating" >Delivery Date</ion-label>
              <ion-datetime displayFormat = "YYYY-MM-DD" placeholder="Select Date" [disabled]="!isEnabled" [(ngModel)]="i.doc_deldate">{{i.doc_deldate}}</ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Order Status
                </ion-label>
              </ion-list-header>
              <ion-item class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="i.doc_orderstatus"  value="{{i.doc_orderstatus}}" [disabled]="!isEnabled">
                  <ion-select-option value="1">Order</ion-select-option>
                  <ion-select-option value="2">Pre Order</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Delivery Status
                </ion-label>
              </ion-list-header>
              <ion-item>
                <ion-select placeholder="Select One" [(ngModel)]="i.doc_deliverystatus"  value="{{i.doc_deliverystatus}}" [disabled]="!isEnabled"> 
                  <ion-select-option value="Diambil">Diambil</ion-select-option>
                  <ion-select-option value="Dikirim">Dikirim</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines">
              <ion-label position="floating">Term</ion-label>
              <ion-input type="number" [disabled]="!isEnabled" [(ngModel)]="i.doc_term" value="{{i.doc_term}}"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Due Date</ion-label>
              <ion-datetime displayFormat = "YYYY-MM-DD" placeholder="Select Date" [disabled]="!isEnabled" [(ngModel)]="i.doc_duedate">{{i.doc_duedate}}</ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Warehouse
                </ion-label>
              </ion-list-header>
              <ion-item>
                <ion-select placeholder="Select One" [(ngModel)]="i.ware_id"  value="{{i.ware_id}}" [disabled]="!isEnabled">
                  <ion-select-option *ngFor="let j of dataPickerWH" value="{{j.ware_id}}">{{j.ware_no}} ({{j.ware_desc}})</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Sales
                </ion-label>
              </ion-list-header>
              <ion-item style="font-size: 12px;" class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="i.sales_id"  value="{{i.sales_id}}" [disabled]="!isEnabled">
                  <ion-select-option style="font-size: 12px;" *ngFor="let j of dataPickerSales" value="{{j.sales_id}}">{{j.sales_no}} ({{j.sales_name}})</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Customer
                </ion-label>
              </ion-list-header>
              <ion-item style="font-size: 12px;">
                <!-- <ion-select placeholder="Select One" [(ngModel)]="i.cust_id"  value="{{i.cust_id}}" [disabled]="!isEnabled" >
                  <ion-select-option *ngFor="let j of dataPickerCust" value="{{j.cust_id}}">{{j.cust_no}} ({{j.cust_name}})</ion-select-option>
                </ion-select>   -->
                <ionic-selectable 
                  [(ngModel)]="i.cust_id" [items]="customers"
                  itemValueField="cust_id"
                  itemTextField="cust_name"
                  [canSearch]="true"
                  (onSearch)="searchCustomers($event)">
                  <ng-template ionicSelectableTitleTemplate>
                    Customer List
                  </ng-template>
                  <ng-template ionicSelectableCloseButtonTemplate>
                    <ion-icon name="close-circle" style="color: white;"></ion-icon>
                  </ng-template>
                  <ng-template ionicSelectableItemTemplate let-customer="item">
                    {{customer.cust_no}} ({{customer.cust_name}})
                  </ng-template>
                </ionic-selectable>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines" style="font-size: 12px;">
              <ion-label position="floating">NIK Customer</ion-label>
              <ion-input type="number" [disabled]="!isEnabled" [(ngModel)]="i.cust_tempNIK"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines" style="font-size: 12px;">
              <ion-label position="floating">Customer Temp</ion-label>
              <ion-input type="text" [disabled]="!isEnabled" [(ngModel)]="i.cust_tempdesc"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines" style="font-size: 12px;">
              <ion-label position="floating">Deliv. Address</ion-label>
              <ion-textarea [(ngModel)]="i.doc_deliveryaddress" value="{{i.doc_deliveryaddress}}"></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines" style="font-size: 12px;">
              <ion-label position="floating">City</ion-label>
              <ion-input style="margin-top: 22px;" type="text" [disabled]="!isEnabled" [(ngModel)]="i.doc_deliverycity"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Pembayaran
                </ion-label>
              </ion-list-header>
              <ion-item class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="i.doc_pembayaran"  value="{{i.doc_pembayaran}}" [disabled]="!isEnabled" style="font-size: 12px;">
                  <ion-select-option value="2">Cash</ion-select-option>
                  <ion-select-option value="3">Bon</ion-select-option>
                  <ion-select-option value="4">Giro</ion-select-option>
                  <ion-select-option value="5">Transfer</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  UM / Titipan  
                </ion-label>
              </ion-list-header>
              <ion-item class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="i.doc_umtitipan"  value="{{i.doc_umtitipan}}" [disabled]="!isEnabled" style="font-size: 12px;">
                  <ion-select-option value="1">Uang Muka</ion-select-option>
                  <ion-select-option value="2">Titipan</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Total</ion-label>
              <ion-input type="decimal" [disabled]="!isEnabled" [(ngModel)]="i.doc_total" readonly></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines">
              <ion-label position="floating">Discount (%)</ion-label>
              <ion-input type="number" [disabled]="!isEnabled" [(ngModel)]="i.doc_discremark"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating"></ion-label>
              <ion-input type="decimal" [disabled]="!isEnabled" readonly>{{(i.doc_total*i.doc_discfactor)}}</ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Discount Rp</ion-label>
              <ion-input type="number" [disabled]="!isEnabled" [(ngModel)]="i.inputdiscvalue"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Total Discount</ion-label>
              <ion-input type="decimal" [disabled]="!isEnabled" [(ngModel)]="i.doc_discvalue"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-item class="size-lines">
                <ion-label>
                  PPN
                </ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="i.doc_vattype"  value="{{i.doc_vattype}}" [disabled]="!isEnabled" style="font-size: 12px;">
                  <ion-select-option value="2">Include</ion-select-option>
                  <ion-select-option value="3">Non PPN</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Total</ion-label>
              <ion-input type="decimal" [disabled]="!isEnabled" [(ngModel)]="i.doc_vat" readonly value="{{i.doc_vat}}"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Ongkos Angkut</ion-label>
              <ion-input type="decimal" [disabled]="!isEnabled" [(ngModel)]="i.doc_ongkosangkut"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Grand Total</ion-label>
              <ion-input type="decimal" [disabled]="!isEnabled" value="{{i.doc_grandtotal}}" readonly>{{(i.doc_total-i.doc_discvalue)+i.doc_vat+i.doc_ongkosangkut==''?'':''}}</ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="menu=='SR'">
        <ion-row>
          <ion-col size="6">
            <ion-item class="size-lines">
              <ion-label position="floating">Doc No</ion-label>
              <ion-input type="text" readonly value="{{i.doc_no}}"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines">
              <ion-label position="floating" >Date</ion-label>
              <ion-datetime displayFormat = "YYYY-MM-DD" placeholder="Select Date" [disabled]="!isEnabled" [(ngModel)]="i.doc_date">{{i.doc_date}}</ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="12">
          <ion-item>
              <ion-label position="floating" >Extern No</ion-label>
              <ion-input type="text" [disabled]="!isEnabled" [(ngModel)]="i.doc_extern" value="{{i.doc_extern}}"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Warehouse
                </ion-label>
              </ion-list-header>
              <ion-item>
                <ion-select placeholder="Select One" [(ngModel)]="i.ware_id"  value="{{i.ware_id}}" [disabled]="!isEnabled">
                  <ion-select-option *ngFor="let j of dataPickerWH" value="{{j.ware_id}}">{{j.ware_no}} ({{j.ware_desc}})</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Sales
                </ion-label>
              </ion-list-header>
              <ion-item style="font-size: 12px;" class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="i.sales_id"  value="{{i.sales_id}}" [disabled]="!isEnabled">
                  <ion-select-option style="font-size: 12px;" *ngFor="let j of dataPickerSales" value="{{j.sales_id}}">{{j.sales_no}} ({{j.sales_name}})</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Customer
                </ion-label>
              </ion-list-header>
              <ion-item style="font-size: 12px;">
                <!-- <ion-select placeholder="Select One" [(ngModel)]="i.cust_id"  value="{{i.cust_id}}" [disabled]="!isEnabled" >
                  <ion-select-option *ngFor="let j of dataPickerCust" value="{{j.cust_id}}">{{j.cust_no}} ({{j.cust_name}})</ion-select-option>
                </ion-select>   -->
                <ionic-selectable 
                  [(ngModel)]="cust_id" [items]="customers"
                  itemValueField="cust_id"
                  itemTextField="cust_name"
                  [canSearch]="true"
                  (onSearch)="searchCustomers($event)">
                  <ng-template ionicSelectableTitleTemplate>
                    Customer List
                  </ng-template>
                  <ng-template ionicSelectableCloseButtonTemplate>
                    <ion-icon name="close-circle" style="color: white;"></ion-icon>
                  </ng-template>
                  <ng-template ionicSelectableItemTemplate let-customer="item">
                    {{customer.cust_no}} ({{customer.cust_name}})
                  </ng-template>
                </ionic-selectable>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Custo Temporary
                </ion-label>
              </ion-list-header>
              <ion-item (click)="getDataPickerCustomer2(i.sales_id)" style="font-size: 12px;" class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="i.cust_idtemp"  value="{{i.cust_idtemp}}" [disabled]="!isEnabled" >
                  <ion-select-option *ngFor="let j of dataPickerCust2" value="{{j.cust_idtemp}}">{{j.cust_tempdesc}}</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Invoice
                </ion-label>
              </ion-list-header>
              <ion-item (click)="getDataPickerInvoice(i.sales_id,i.cust_id,i.cust_idtemp,i.ware_id)" style="font-size: 12px;">
                <ion-select placeholder="Select One" [(ngModel)]="i.invoice_id"  value="{{i.invoice_id}}" [disabled]="!isEnabled" >
                  <ion-select-option *ngFor="let j of dataPickerInvoice" value="{{j.invoice_id}}">{{j.invoice_no}}</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Total</ion-label>
              <ion-input type="decimal" [disabled]="!isEnabled" [(ngModel)]="i.doc_total" readonly></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-item class="size-lines">
                <ion-label>
                  PPN
                </ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="i.doc_vattype"  value="{{i.doc_vattype}}" [disabled]="!isEnabled" style="font-size: 12px;">
                  <ion-select-option value="2">Include</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Value</ion-label>
              <ion-input type="decimal" [disabled]="!isEnabled" [(ngModel)]="i.doc_vat" readonly></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Ongkir</ion-label>
              <ion-input type="decimal" [disabled]="!isEnabled" [(ngModel)]="i.doc_ongkir"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-item class="size-lines">
                <ion-label>
                  Retur (%)
                </ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="i.doc_returremark"  value="{{i.doc_returremark}}" [disabled]="!isEnabled" style="font-size: 12px;">
                  <ion-select-option value="0">0</ion-select-option>
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Value</ion-label>
              <ion-input type="decimal" [disabled]="!isEnabled" [(ngModel)]="i.doc_ongkosretur" readonly>{{(i.doc_total+i.doc_ongkir)*i.doc_returfactor==''?'':''}}</ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Grandtotal</ion-label>
              <ion-input type="decimal" [disabled]="!isEnabled" value="{{i.doc_total+i.doc_ongkir+i.doc_vat}}" readonly></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item class="size-lines" style="font-size: 12px;">
              <ion-label position="floating">Remark</ion-label>
              <ion-textarea [(ngModel)]="i.doc_remark" value="{{i.doc_remark}}"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
    <div>
      <ion-list *ngSwitchCase="'grid'">
        <div padding>
          <ion-button (click)="addRow()" expand="block" color="primary">Add New Row Item</ion-button>
          <div padding style="opacity: .4;">Swipe Row Items To Delete...</div>
        </div>
      <!-- <ion-grid>
        <ion-row>
          <ion-col>Item No.</ion-col>
          <ion-col>Name</ion-col>
          <ion-col>Qty</ion-col>
        </ion-row>
        <ion-row *ngFor="let grid of dataGrid; index as i">
          <ion-col>{{ i + 1 }}</ion-col>
          <ion-col>{{ grid.item_no }}</ion-col>
          <ion-col>{{ grid.item_desc }}</ion-col>
          <ion-col>{{ grid.trans_qty }}</ion-col>
        </ion-row>
      </ion-grid> -->
      <ion-grid >
        <ion-row>
          <ion-col size="4" size-md>Item</ion-col>
          <ion-col size="2" size-sm>Qty</ion-col>
          <ion-col size="2.5" size-sm>Price</ion-col>
          <ion-col size="3" size-sm>Total</ion-col>
        </ion-row>
          <div *ngFor="let data of inputRowValues; let ii=index"  style="font-size:smaller">
            <ion-item-sliding>
              <ion-item lines="none" style="margin-left: -16px;">
                <ion-row>
                  <ion-col size="4.19" size-md>
                    <ion-item style="font-size: 10px;">
                      <ionic-selectable 
                      [(ngModel)]="data.item_id" [items]="ports"
                      itemValueField="item_id"
                      itemTextField="item_desc"
                      [canSearch]="true"
                      (onSearch)="searchPorts($event)"
                      (onChange)="portChange($event)">
                      <ng-template ionicSelectableTitleTemplate>
                        Item List
                      </ng-template>
                      <ng-template ionicSelectableCloseButtonTemplate>
                        <ion-icon name="close-circle" style="color: white;"></ion-icon>
                      </ng-template>
                      <ng-template ionicSelectableItemTemplate let-item="item">
                        {{item.item_no}} ({{item.item_desc}}) Stock : {{item.bisadijual}}
                      </ng-template>
                      </ionic-selectable>
                    </ion-item>
                  </ion-col>
                  <ion-col size="2.09" size-sm>
                    <ion-item style="font-size: 10px;">
                      <ion-input placeholder="Qty" type="number" [(ngModel)]="data.trans_qty"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="2.6" size-sm>
                    <ion-item style="font-size: 10px">
                      <ion-input placeholder="Price" type="number" [(ngModel)]="data.trans_price"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="3.12" size-sm>
                    <ion-item style="font-size: 10px">
                      <ion-input placeholder="Total" type="number" [(ngModel)]="data.trans_total" value="{{data.trans_qty*data.trans_price}}" readonly></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-item-options side="end" >
                <ion-button color="danger"  style="margin-top: auto;margin-bottom: auto;" (click)="onDelete(ii,data.doc_id,data.trans_id)">DELETE</ion-button>
              </ion-item-options>
            </ion-item-sliding>
          </div>  
      </ion-grid>
      </ion-list>
    </div>
        <!-- <h4>Results</h4> -->
    <!-- <pre style="font-size:smaller"> {{inputRowValues | json}} </pre> -->
  </div>
</ion-content>
<ion-footer>
  <div *ngIf="menu=='SO'">
    <ion-row>
      <ion-col size="12" *ngIf="docflow_seq==1">
        <ion-button (click)="updateFlow('askapproval')" expand="block" color="success" fill='outline'>Ask Approved</ion-button>
      </ion-col>
      <ion-col size="6"  *ngIf="docflow_seq==1">
        <ion-button (click)="updateFlow('askapprovalprice')" expand="block" color="warning" fill='outline'>Ask Approval Price</ion-button>
      </ion-col>
      <ion-col size="6"  *ngIf="docflow_seq==9">
        <ion-button (click)="updateFlow('askapprovalprice')" expand="block" color="warning" fill='outline'>Ask Approval Price</ion-button>
      </ion-col>
      <ion-col size="6"  *ngIf="docflow_seq==1">
        <ion-button (click)="updateFlow('askapprovalorder')" expand="block" color="secondary" fill='outline'>Ask Approval Order</ion-button>
      </ion-col>
      <ion-col size="12" *ngIf="docflow_seq==9">
        <ion-button (click)="updateFlow('askapproval2')" expand="block" color="success" fill='outline'>Ask Approved</ion-button>
      </ion-col>
    </ion-row>
  </div>
  
  
  <ion-button (click)="saveForm()" expand="block">Save</ion-button>
</ion-footer>
