<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button style="color: white;" (click)="backPage()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
		</ion-buttons>
    <ion-title *ngIf="menu=='SO'">Sales Order</ion-title>
    <ion-title *ngIf="menu=='SR'">Sales Return</ion-title>
  </ion-toolbar>

  <ion-segment [(ngModel)]="tab" lines="none">
		<ion-segment-button value="form">
			<ion-label>
				General
			</ion-label>
		</ion-segment-button>
		<ion-segment-button value="grid">
			<ion-label>
				Item List
			</ion-label>
		</ion-segment-button>
	</ion-segment>
</ion-header>

<ion-content>
  <div  [ngSwitch]="tab">
    <ion-list  *ngSwitchCase="'form'">
      <div *ngIf="menu=='SO'">
        <ion-item>
          <ion-label position="floating" >Extern No</ion-label>
          <ion-input type="text" [disabled]="!isEnabled" [(ngModel)]="doc_extern">{{doc_extern==''?'':''}}</ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="6">
            <ion-item class="size-lines">
              <ion-label position="floating" >Date</ion-label>
              <ion-datetime displayFormat = "YYYY-MM-DD" placeholder="Select Date" [(ngModel)]="doc_date">{{doc_date}}</ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating" >Delivery Date</ion-label>
              <ion-datetime displayFormat = "YYYY-MM-DD" placeholder="Select Date" [(ngModel)]="doc_deldate">{{doc_deldate}}</ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Order Status
                </ion-label>
              </ion-list-header>
              <ion-item class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="doc_orderstatus"  value="{{doc_orderstatus}}">
                  <ion-select-option value="1">Order</ion-select-option>
                  <ion-select-option value="2">Pre Order</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Delivery Status
                </ion-label>
              </ion-list-header>
              <ion-item>
                <ion-select placeholder="Select One" [(ngModel)]="doc_deliverystatus"  value="{{doc_deliverystatus}}"> 
                  <ion-select-option value="Diambil">Diambil</ion-select-option>
                  <ion-select-option value="Dikirim">Dikirim</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines">
              <ion-label position="floating">Term</ion-label>
              <ion-input type="number" [disabled]="!isEnabled" [(ngModel)]="doc_term"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Due Date</ion-label>
              <ion-datetime displayFormat = "YYYY-MM-DD" placeholder="Select Date" [(ngModel)]="doc_duedate"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Warehouse
                </ion-label>
              </ion-list-header>
              <ion-item>
                <ion-select placeholder="Select One" [(ngModel)]="ware_id"  value="{{ware_id}}">
                  <ion-select-option *ngFor="let j of dataPickerWH" value="{{j.ware_id}}">{{j.ware_no}} ({{j.ware_desc}})</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Sales
                </ion-label>
              </ion-list-header>
              <ion-item style="font-size: 12px;" class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="sales_id"  value="{{sales_id}}">
                  <ion-select-option style="font-size: 12px;" *ngFor="let j of dataPickerSales" value="{{j.sales_id}}">{{j.sales_no}} ({{j.sales_name}})</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Customer
                </ion-label>
              </ion-list-header>
              <ion-item (click)="getDataPickerCustomer()" style="font-size: 12px;">
                <ion-select placeholder="Select One" [(ngModel)]="cust_id"  value="{{cust_id}}">
                  <ion-select-option *ngFor="let j of dataPickerCust" value="{{j.cust_id}}">{{j.cust_no}} ({{j.cust_name}})</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines" style="font-size: 12px;">
              <ion-label position="floating">NIK Customer</ion-label>
              <ion-input type="number"  [(ngModel)]="cust_tempNIK"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines" style="font-size: 12px;">
              <ion-label position="floating">Customer Temp</ion-label>
              <ion-input type="text"  [(ngModel)]="cust_tempdesc"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines" style="font-size: 12px;">
              <ion-label position="floating">Deliv. Address</ion-label>
              <ion-textarea [(ngModel)]="doc_deliveryaddress" value="{{doc_deliveryaddress}}"></ion-textarea>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines" style="font-size: 12px;">
              <ion-label position="floating">City</ion-label>
              <ion-input style="margin-top: 22px;" type="text" [(ngModel)]="doc_deliverycity"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Pembayaran
                </ion-label>
              </ion-list-header>
              <ion-item class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="doc_pembayaran"  value="{{doc_pembayaran}}" style="font-size: 12px;">
                  <ion-select-option value="2">Cash</ion-select-option>
                  <ion-select-option value="3">Bon</ion-select-option>
                  <ion-select-option value="4">Giro</ion-select-option>
                  <ion-select-option value="5">Transfer</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  UM / Titipan  
                </ion-label>
              </ion-list-header>
              <ion-item class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="doc_umtitipan"  value="{{doc_umtitipan}}" style="font-size: 12px;">
                  <ion-select-option value="1">Uang Muka</ion-select-option>
                  <ion-select-option value="2">Titipan</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-item class="size-lines">
              <ion-label position="floating">Discount (%)</ion-label>
              <ion-input type="number" [(ngModel)]="doc_discremark"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Discount Rp</ion-label>
              <ion-input type="number" [(ngModel)]="inputdiscvalue"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-item class="size-lines">
                <ion-label>
                  PPN
                </ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="doc_vattype"  value="{{doc_vattype}}" style="font-size: 12px;">
                  <ion-select-option value="2">Include</ion-select-option>
                  <ion-select-option value="3">Non PPN</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Ongkos Angkut</ion-label>
              <ion-input type="decimal" [(ngModel)]="doc_ongkosangkut"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="menu=='SR'">
        <ion-row>
          <ion-col size="12">
            <ion-item class="size-lines">
              <ion-label position="floating" >Date</ion-label>
              <ion-datetime displayFormat = "YYYY-MM-DD" placeholder="Select Date" [(ngModel)]="doc_date">{{doc_date}}</ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col size="12">
          <ion-item>
              <ion-label position="floating" >Extern No</ion-label>
              <ion-input type="text" [(ngModel)]="doc_extern">{{doc_extern==''?'':''}}</ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Warehouse
                </ion-label>
              </ion-list-header>
              <ion-item>
                <ion-select placeholder="Select One" [(ngModel)]="ware_id"  value="{{ware_id}}">
                  <ion-select-option *ngFor="let j of dataPickerWH" value="{{j.ware_id}}">{{j.ware_no}} ({{j.ware_desc}})</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Sales
                </ion-label>
              </ion-list-header>
              <ion-item style="font-size: 12px;" class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="sales_id"  value="{{sales_id}}">
                  <ion-select-option style="font-size: 12px;" *ngFor="let j of dataPickerSales" value="{{j.sales_id}}">{{j.sales_no}} ({{j.sales_name}})</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Customer
                </ion-label>
              </ion-list-header>
              <ion-item (click)="getDataPickerCustomer()" style="font-size: 12px;">
                <ion-select placeholder="Select One" [(ngModel)]="cust_id"  value="{{cust_id}}">
                  <ion-select-option *ngFor="let j of dataPickerCust" value="{{j.cust_id}}">{{j.cust_no}} ({{j.cust_name}})</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Custo Temporary
                </ion-label>
              </ion-list-header>
              <ion-item (click)="getDataPickerCustomer2()" style="font-size: 12px;" class="size-lines">
                <ion-select placeholder="Select One" [(ngModel)]="cust_idtemp"  value="{{cust_idtemp}}">
                  <ion-select-option *ngFor="let j of dataPickerCust2" value="{{j.cust_idtemp}}">{{j.cust_tempdesc}}</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-list-header>
                <ion-label>
                  Invoice
                </ion-label>
              </ion-list-header>
              <ion-item (click)="getDataPickerInvoice()" style="font-size: 12px;">
                <ion-select placeholder="Select One" [(ngModel)]="invoice_id"  value="{{invoice_id}}">
                  <ion-select-option *ngFor="let j of dataPickerInvoice" value="{{j.invoice_id}}">{{j.invoice_no}}</ion-select-option>
                </ion-select>  
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Total</ion-label>
              <ion-input type="decimal" [(ngModel)]="doc_total" readonly></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-item class="size-lines">
                <ion-label>
                  PPN
                </ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="doc_vattype"  value="{{doc_vattype}}" style="font-size: 12px;">
                  <ion-select-option value="2">Include</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label position="floating">Ongkir</ion-label>
              <ion-input type="decimal" [(ngModel)]="doc_ongkir"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-list>
              <ion-item class="size-lines">
                <ion-label>
                  Retur (%)
                </ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="doc_returremark"  value="{{doc_returremark}}" style="font-size: 12px;">
                  <ion-select-option value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                  <ion-select-option value="3">3</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="12">
            <ion-item class="size-lines" style="font-size: 12px;">
              <ion-label position="floating">Remark</ion-label>
              <ion-textarea [(ngModel)]="i.doc_remark" value="{{doc_remark}}"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
    <div>
      <ion-list *ngSwitchCase="'grid'" (click)="getDataPickerItem()">
        <div padding>
          <ion-button (click)="addRow()" expand="block" color="primary">Add New Row Item</ion-button>
          <div padding style="opacity: .4;">Swipe Row Items To Delete...</div>
        </div>
      <!-- <ion-grid>
        <ion-row>
          <ion-col>Item No.</ion-col>
          <ion-col>Name</ion-col>
          <ion-col>Qty</ion-col>
        </ion-row>
        <ion-row *ngFor="let grid of dataGrid; index as i">
          <ion-col>{{ i + 1 }}</ion-col>
          <ion-col>{{ grid.item_no }}</ion-col>
          <ion-col>{{ grid.item_desc }}</ion-col>
          <ion-col>{{ grid.trans_qty }}</ion-col>
        </ion-row>
      </ion-grid> -->
      <ion-grid >
        <ion-row>
          <ion-col size="4.07">Item</ion-col>
          <ion-col size="1.86">Qty</ion-col>
          <ion-col size="2.54">Price</ion-col>
          <ion-col size="2.55">Total</ion-col>
        </ion-row>
      <div *ngFor="let data of inputRowValues; let ii=index"  style="font-size:smaller">
        <ion-item-sliding>
          <ion-item lines="none" style="margin-left: -20px;">
            <ion-row>
              <ion-col col-sm>
                <ion-item style="font-size: 10px;width: 120px;margin-right: 5px;">
                  <ionic-selectable 
                  [(ngModel)]="data.item_id" [items]="dataPickerItem"
                  itemValueField="item_id"
                  itemTextField="item_desc"
                  [canSearch]="true"
                  [shouldStoreItemValue]="true">
                  <ng-template ionicSelectableTitleTemplate>
                    Item List
                  </ng-template>
                  <ng-template ionicSelectableCloseButtonTemplate>
                    <ion-icon name="close-circle" style="color: white;"></ion-icon>
                  </ng-template>
                  <ng-template ionicSelectableItemTemplate let-item="item">
                    {{item.item_no}} ({{item.item_desc}}) Stock : {{item.bisadijual}}
                  </ng-template>
                  </ionic-selectable>
                </ion-item>
              </ion-col>
              <ion-col col-sm>
                <ion-item style="font-size: 10px;width: 50px;margin-right: 5px;">
                  <ion-input placeholder="Qty" type="number" [(ngModel)]="data.trans_qty"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-sm>
                <ion-item style="font-size: 10px;width: 70px;margin-right: 5px;">
                  <ion-input placeholder="Price" type="number" [(ngModel)]="data.trans_price"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-sm>
                <ion-item style="font-size: 10px;width: 70px;margin-right: 5px;">
                  <ion-input placeholder="Total" type="number" [(ngModel)]="data.trans_total" value="{{data.trans_qty*data.trans_price}}"readonly></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options side="end" >
            <ion-button color="danger"  style="margin-top: auto;margin-bottom: auto;" (click)="onDelete(ii)">DELETE</ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </div>    
      </ion-grid>
          <!-- <app-input-row [data]="i" (onDelete)="onDelete($event)"></app-input-row> -->
      </ion-list>
    </div>
    <h4>Results</h4>
    <pre style="font-size:smaller"> {{inputRowValues | json}} </pre>
  </div>
</ion-content>
<ion-footer>
  <ion-button (click)="saveForm()" expand="block" >Save</ion-button>
</ion-footer>
